Protocol 2

Port {{ openssh__port }}

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

LogLevel {{ openssh__log_level }}
SyslogFacility {{ openssh__syslog_facility }}

MaxAuthTries {{ openssh__max_auth_tries }}
LoginGraceTime {{ openssh__login_grace_time }}

PermitRootLogin {{ openssh__permit_root_login }}

{% if (openssh__allow_users is defined and openssh__allow_users | length > 0) %}
AllowUsers {{ openssh__allow_users[0] }}
{% endif %}

AuthorizedKeysFile .ssh/authorized_keys

AuthenticationMethods {{ openssh__authentication_methods }}

PubkeyAuthentication {{ openssh__pubkey_authentication }}

PermitEmptyPasswords {{ openssh__permit_empty_passwords }}

PasswordAuthentication {{ openssh__password_authentication }}
GSSAPIAuthentication {{ openssh__gssapi_authentication }}
KerberosAuthentication {{ openssh__kerberos_authentication }}
KbdInteractiveAuthentication {{ openssh__kbd_interactive_authentication }}
ChallengeResponseAuthentication {{ openssh__challenge_response_authentication }}

UsePAM {{ openssh__use_pam }}

PrintMotd {{ openssh__print_motd }}
{% if ansible_facts.distribution == "Debian" or ansible_facts.distribution == "Ubuntu"  %}
DebianBanner {{ openssh__debian_banner }}
{% endif %}
X11Forwarding {{ openssh__x11_forwarding }}

AcceptEnv {{ openssh__accept_env }}

ClientAliveInterval {{ openssh__client_alive_interval }}
ClientAliveCountMax {{ openssh__client_alive_count_max }}

Subsystem sftp {{ __openssh__sftp_server_path }} -f AUTHPRIV -l INFO

{% if (ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version == "12") or
      (ansible_facts.distribution == "Ubuntu" and ansible_facts.distribution_major_version == "24") %}
RequiredRSASize {{ openssh__required_rsa_size }}
{% endif %}

# This include line needs to be at the end of the configuration file so that the settings load properly:
Include /etc/ssh/sshd_config.d/*.conf
